# OS
.DS_Store
@eaDir/

# Data
data/
tests/
*.csv
*.duckdb
*.parquet

# Python
.pdm_env/
__pycache__/
config.yaml
src/widelog/not_used_step1_csv_to_parquet.py
src/widelog/not_used_query_demo.py

# IDE
.vscode/